{% extends 'base.html.twig' %}

{% block title %}My calendars{% endblock %}

{% block body %}
    <h1>Welcome, {{ app.user.email }}</h1>

    <h2>My calendars</h2>
    <ul>
        {% for calendar in calendars %}
            <li>
                <a href="{{ path('app_calendar_show', {'id': calendar.id}) }}">{{ calendar.name }}</a>
                {% if not calendar.isPublic %}(private){% endif %}
                {% if calendar.isPublic %}(public){% endif %}
            </li>
        {% endfor %}
    </ul>

    <a href="{{ path('app_calendar_index') }}">Browse all public calendars</a>
{% endblock %}
