{% extends 'base.html.twig' %}

{% block title %}Welcome to StudiCal{% endblock %}

{% block body %}
    <h1>Welcome to StudiCal</h1>
    <p>Log in to see your calendars, or register to get started.</p>
{% endblock %}
